* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #111b21;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 90vw;
  height: 90vh;
  background-color: #0b141a;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;
  max-height: 700px;
}

/* TOPO */
.header {
  background-color: #202c33;
  color: white;
  padding: 15px;
  text-align: center;
}

/* CHAT */
.container-chat {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MENSAGENS */
.mensagem {
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 10px;
  font-size: 14px;
  word-wrap: break-word;
  position: relative;
}

/* OUTRO */
.outro {
  background-color: #1f2c33;
  color: #ffffff;
  align-self: flex-start;
}

.outro p {
  font-weight: 500;
}

.outro::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #202c33;
}

/* EU */
.eu {
  background-color: #005c4b;
  color: white;
  align-self: flex-end;
}

.eu::after {
  content: "";
  position: absolute;
  right: -8px;
  top: 10px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #005c4b;
}

/* INPUT */
.area-input {
  background-color: #202c33;
  padding: 10px;
  display: flex;
  gap: 10px;
}

.area-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.area-input button {
  background-color: #00a884;
  border: none;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.mensagem {
  animation: aparecer 0.2s ease-in-out;
}
